#blog-section
    padding: 100px 15px
    background: #f9fafc
    .title
        h1 
            font-weight: 700
            font-size: 4rem
            text-align: center
            text-transform: uppercase
            margin-bottom: 80px
    .blog-container
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 500px
        grid-gap: 15px


